<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="callout callout--primary">
      <div class="grid grid--1x2">
        <div class="callout__content">
          <h2 class="callout__heading">Ready to Get Started?</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Itaque
            harum consequuntur omnis cupiditate corporis provident quos nam
            porro dolor dolores.
          </p>
        </div>
        <a href="#" class="btn btn--secondary btn--stretched">Get Started</a>
      </div>
    </div>
  </body>
</html>
